@import url('https://fonts.cdnfonts.com/css/br-firma');

:root {
  --cowry: #0066f5;
}

*{
    font-family: 'BR Firma', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.page {
    padding: 0 140px;
    display: flex;
    height: 100vh;
    justify-content: space-between;
}

.page .firsthalf{
    width: 50%;
    padding: 80px 0 30px 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
   
}
.page .logo svg{
    width: 182px;
    height: 70px;
}

.page .text {

    margin-top: 40px;
}

.page .text .tagline {
    width: 668px;
    letter-spacing: -1.92px;
    font-size: 83px;
    color: #040F3E;
    line-height: 82px;

}

.page .text .tagline span{
    font-style: italic;
    color: #0101E6;
}

.page .text .subtag{
    margin-top: 60px;
    font-size: 19px;
    line-height: 32px;
    font-weight: 400;
    width: 60%;
    color: #040F3E;

}

.page .special{
    margin-top: 80px;


}
.page .special .line {
    position: relative;

}
.page .special .line .i{
    width: 100%;
    height: 1px;
    border-radius: 2px;
    background-color: #eee;


}


.page .special .line .b {
    width: 80px;
    height: 3px;
    border-radius: 100px;
    position: absolute;
    background-color: #0101E6;
    z-index: 70;
    top: 50%;
    transform: translateY(-50%);
}

.page .special .flex{
    display: flex;
 
}

.page .special .flex .flexy{

    margin-top: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #040F3E;

}

.page .special .flex .mainlist{

    margin-left: auto;
    display: flex;
    list-style: none;
    gap: 49px;
    text-transform: capitalize;
    font-size: 14px;
    margin-top: 50px;
    font-weight: 400;
    letter-spacing: 0 !important;
   

}

.page .special .flex .mainlist li a{

    text-decoration: none;
    color: #040F3E;

}

.page .special .flex .mainlist li .blue{

    color: #0101E6;
    
    font-weight: bold;

}

.page .secondhalf{
    height: 100vh;
    overflow: hidden;

}

.page .secondhalf img{
    object-fit: cover;
    height: 980px;
    width: 750px;
}

